body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(34, 25, 25);
    display: flex;
    justify-content: center;
}
div {
    color:rgb(216, 186, 159);
    
}
#cabecera{
    display: flex;
    height: 30px;
    font-size: 20px;
    align-items: center;
    background-color: rgb(195, 7, 220);
    color: white;
    padding: 10px;
    
}
#cabecera img{
width: auto;
height: 40px;
padding: 10px;
}
#container { 
    display:flex ;
    font-size: large;
    width: 80%;
    flex-direction: column;
    border:1px solid #ddd;
    background-color: rgb(84, 58, 58);
}
#footer{
    font-size: medium;
    background-color: rgb(76, 14, 85);
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
#Box{
    display: flex;
    flex-direction: column;
    align-items: center;
}